---
layout: default
title: Posts
---

<div class="max-w-3xl space-y-12">
    {% include breadcrump.html current="Posts" %}

    <div>
        <h1 class="title-1 pb-8">Posts</h1>

        <div class="space-y-12">
        {% for post in site.posts %}
            <article class="group">
                <div class="flex gap-8">
                    <div class="w-32 h-32 shrink-0">
                        {% if post.image %}
                            <a href="{{ post.url }}">
                                <img src="{{ post.image | relative_url }}" alt="{{ post.title }}" class="w-full h-full object-cover">
                            </a>
                        {% else %}
                            <div class="w-full h-full bg-neutral-900"></div>
                        {% endif %}
                    </div>
                    <div>
                        <h2 class="font-medium" >
                            <a href="{{ post.url }}" class="text-link">{{ post.title }}</a>
                        </h2>
                        <p class="text-primary mb-1">{{ post.description }}</p>
                        <time datetime="{{ post.date | date: '%Y-%m-%d' }}" class="text-primary/50 text-sm block">
                            {{ post.date | date: "%b %-d, %Y" }}
                        </time>
                    </div>
                </div>
            </article>
        {% endfor %}
        </div>
    </div>
</div>