/* Variables */

@font-face {
    font-family: 'Overused Grotesk';
    src: url('/assets/fonts/OverusedGrotesk-VF.woff2');
    font-weight: 300 900;
}

/* Global */

:root {
    --base-font-size: 26px;
    --large-font-size: 62px;
    --padding: 48px;
    --mobile-post-list-gutter: 24px;
    --text-color: #EEE;
    --background-color: black;
    --border-color: #222;
    --image-padding: 6rem;
}

*, *::before, *::after {
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-weight: 450;
}

a {
    color: var(--text-color);
    text-decoration: none;
}

p {
    margin-top: 0;
}

h1, h2 {
    margin: 0;
    font-size: 1em;
}

ul { 
    padding: 0;
}

ul li {
    list-style: none; padding: 0;
}

html, body {
    margin: 0;
    padding: 0;
    text-align: center;
}

html {
    font-size: var(--base-font-size);
    height: 100%;
}

body {
    font-family: 'Overused Grotesk', mono;
    font-size: var(--body-font-size);
    line-height: 1.4;
    background: var(--background-color);
    color: var(--text-color);
}

.wrapper {
    max-width: 1440px;
    margin: 0 auto;
    padding: var(--padding);
}

.sticky-title {
    position: -webkit-sticky; /* for Safari */
    position: sticky;
    top: var(--padding);
    z-index: 1000;
}

img {
    display: block;
}

article.post figure {
    margin: 0;
    border-radius: 1rem;
    padding: var(--image-padding);
    border: 1px solid var(--border-color);
}

article.post figure img {
    border-radius: 0.5rem;
    width: 100%;
    height: auto;
}

article.post .post-title {
    margin-bottom: var(--padding);
}

/* Posts */

h2.hero {
    margin: 23vh auto 25vh auto;
    font-size: var(--large-font-size);
    line-height: 1.1;
    text-align: center;
    max-width: 17em;
}

article.post {
    margin-bottom: 8rem;
}

article.post .row {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    justify-content: space-between;
}

article.post .images {
    display: flex;
    flex-direction: column;
    gap: calc(var(--padding) / 2);
}

.post-index::before {
    counter-increment: post;
    content: counter(post) ".";
}

/* Post navigation */

.post-navigation { 
    margin: calc(var(--padding) * 2) 0;
    display: flex;
}
.post-navigation > div { flex: 1 }
.post-navigation a { line-height: inherit; }

/* Responsive */

@media (max-width: 768px) {
    :root {
        --padding: 20px;
        --base-font-size: 18px;
        --image-padding: 0.5rem;
    }
    
    nav.header {
        top: calc(var(--padding) - 3px);
    }
    
    h2.hero {
        margin: 15vh auto;
        font-size: 32px;
        line-height: 1.2;
    }
    
    div.post div.description {
        margin: 20vw 0 var(--padding) 0;
        max-width: 100%;
    } 
    
    .lg-text {
        font-size: 39px;
        max-width: 7.5em;
    }
    
    .md-text {
        font-size: calc(var(--base-font-size) * 1);
    }
    
    ul.posts .row {
        gap: var( --image-padding);
        margin-bottom: var(--image-padding:);
    }
    
    ul.posts .post {
        width: 100%;
        max-width: 100%;
        margin-bottom: var(--image-padding);
    }
    
    div.post div.description {
        margin: 20vw 0 calc(var(--padding)*2) 0;
        max-width: 100%;
    }
}
