@font-face {
    font-family: 'Overused Grotesk';
    src: url('/assets/fonts/OverusedGrotesk-VF.woff2');
    font-weight: 300 900;
}

/* Global */

:root {
    --base-font-size: 25px;
    --large-font-size: 60px;
    --padding: 50px;
    --text-color: #EEE;
    --background-color: black;
    --border-color: #222;
}

*, *::before, *::after {
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-weight: 450;
}

a {
    color: var(--text-color);
    text-decoration: none;
    border-bottom: 0.075em solid;
    display: inline-block;
}

p {
    margin-top: 0;
}

h1, h2 {
    margin: 0;
    font-size: 1em;
}

ul { 
    padding: 0;
}

ul li {
    list-style: none;
    padding: 0;
}

html, body {
    margin: 0;
    padding: 0;
    text-align: center;
}

html {
    font-size: var(--base-font-size);
    height: 100%;
}

body {
    font-family: 'Overused Grotesk', mono;
    font-size: var(--base-font-size);
    line-height: 1.4;
    background: var(--background-color);
    color: var(--text-color);
}

.wrapper {
    max-width: 1440px;
    margin: 0 auto;
    padding: var(--padding);
    display: flex;
    flex-direction: column;
    gap: var(--padding);
}

.sticky-title {
    position: sticky;
    top: var(--padding);
    z-index: 5;
}

img {
    display: block;
}

.bento {
    display: flex;
    flex-direction: column;
    gap: 100px;
    padding: 100px;
    border-radius: 80px;
    border: 1px solid var(--border-color);
}

article.post img {
    border-radius: 20px;
    width: 100%;
    height: auto;
}

article.post .post-title {
    margin-bottom: var(--padding);
}

/* Posts */

h2.hero {
    margin: 180px auto;
    font-size: var(--large-font-size);
    line-height: 1.1;
    text-align: center;
    max-width: 17em;
}

article.post {
    margin-bottom: 8rem;
}

article.post .images {
    display: flex;
    flex-direction: column;
    gap: calc(var(--padding) / 2);
}

article.post[data-information] .bento {
    cursor: help;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 1);
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    visibility: hidden;
    transition: all 0.5s ease-in-out;
    cursor: default;
}

.overlay-content {
    text-align: left;
    max-width: 640px;
}

.overlay.active {
    opacity: 1;
    visibility: visible;
}

/* Responsive */

@media (max-width: 768px) {
    :root {
        --padding: 20px;
        --base-font-size: 18px;
        --large-font-size: 32px;
        --image-padding: 2rem;
    }
    
    h2.hero {
        margin: 15vh auto;
        font-size: var(--large-font-size);
        line-height: 1.2;
    }
    
    article.post {
        margin-bottom: 3rem;
    }
}
