/* Variables */
:root {
    --base-font-size: 22px;
    --padding: 48px;
    --mobile-post-list-gutter: 24px;
    --text-color: #121212;
    --background-color: white;
    --border-color: #DDD;
    --thumbnail-radius: 24px;
    --thumbnail-padding: 12px;
}

@font-face {
    font-family: 'Bricolage Grotesque Regular';
    src: url('/assets/fonts/BricolageGrotesque/BricolageGrotesque-Regular.ttf');
}

*, *::before, *::after {
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

ul { 
    padding: 0;
}

ul li {
    list-style: none; padding: 0;
}

html, body {
    margin: 0;
    padding: 0;
}

html {
    font-size: var(--base-font-size);
    height: 100%;
}

body {
    font-family: 'Bricolage Grotesque Regular', sans-serif;
    font-weight: 400;
    font-size: var(--body-font-size);
    line-height: 1.4;
    color: var(--text-color);
    background: var(--background-color);
    padding: calc(var(--padding) - 7px) var(--padding) var(--padding);
}

h1, h2, h6 {
    font-weight: 400;
    margin: 0;
}

h1, h6 {
    font-size: 1em;
}

h2 {
    line-height: 1.1;
    letter-spacing: -0.5%;
    margin: 0;
}

.serif {
    font-family: serif;
}

.xl-text {
    font-size: 4.5vw;
    max-width: 20em;
}

.lg-text {
    font-size: 34px;
    line-height: 1.1;
    letter-spacing: 0.75%; 
}

a {
    color: var(--text-color);
    line-height: inherit;
    font-family: inherit;
    display: inline-block;
    position: relative;
    text-decoration: none;
}

a:not(.card)::before {
    position: absolute;
    content: '';
    display: block;
    right: 0.075em;
    height: 0.09em;
    bottom: -0.1em;
    left: 0.05em;
    background-color: var(--text-color);
    transform: scaleX(0);
    transform-origin: top left;
    transition: transform 0.3s ease;
}

a:hover::before { transform: scaleX(1); }

a.reversed::before  { transform: scaleX(1) }
a.reversed:hover::before { transform: scaleX(0) }

p {
    margin-top: 0;
}

.posts .post a { border: none; } /* Remove link underlining for the post list items */ 

body.flex {
    min-height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: start;
}

nav.header {
    position: sticky;
    z-index: 2;
    top: calc(var(--padding) - 7px);
}

header.intro {
    margin: calc(var(--padding) * 2) 0;
}

section.posts {
    margin-bottom: calc(var(--padding) * 3);
}

section.posts .row {
    display: flex;
    flex-direction: row;
    gap: 10%;
    justify-content: space-between;
    margin-bottom: 5rem;
}

section.posts .post.right {
    margin-left: auto;
}

section.posts .post.full {
    max-width: 100%;
}

section.posts .post {
    width: 100%;
    max-width: 70%;
}

section.posts .post .card {
    display: flex;
    flex-direction: column;
    gap: calc(var(--padding) / 2);
}

section.posts .post.small {
    max-width: 45%;
}

section.posts .post.x-small {
    max-width: 33%;
}

.thumbnail {
    border: 1px solid var(--border-color);
    padding: var(--thumbnail-padding);
    border-radius: var(--thumbnail-radius);
    width: 100%;
    height: auto;
}

span.post-index, span.post-title  {
    display: block;
}

/* Post */

main.post .content {
    display: flex;
    gap: var(--padding);
    justify-content: space-between;
    flex-direction: column;
}

main.post .images {
    display: flex;
    gap: var(--padding);
    justify-content: space-between;
}

main.post .images div {
    flex: 1;
}

/* Post navigation */

.post-navigation { 
    margin: calc(var(--padding) * 2) 0;
    display: flex;
}
.post-navigation div { flex: 1; }
.post-navigation a { margin-top: 0.5rem; }

/* Responsive */

@media (max-width: 768px) {
    :root {
        --padding: 24px;
        --lead-line-height: 1.2;
        --thumbnail-radius: 18px;
        --thumbnail-padding: 9px;
    }

    body {
        font-size: 17px;
        padding: var(--padding)
    }

    nav.header {
        top: var(--padding);
    }

    .xl-text {
        font-size: 32px;
        line-height: 1.2;
    }

    .lg-text {
        font-size: 25px;
    }

    section.posts .row {
        flex-direction: column;
        gap: var(--mobile-post-list-gutter);
        margin-bottom: var(--mobile-post-list-gutter);
    }

    section.posts .post,
    section.posts .post.small,
    section.posts .post.x-small  {
        width: 100%;
        max-width: 100%;
        margin-bottom: var(--mobile-post-list-gutter);
    }

    h1.title > span { display: none; }
    h1.title::after { content: "Dara K."; }
}
