<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dara Kilicoglu — Designer</title>
    <link rel="icon" type="image/png" href="/favicon.png">
    <link rel="preload" href="/assets/fonts/OverusedGrotesk-VF.woff2" as="font" type="font/woff2" crossorigin>
    <link rel="stylesheet" href="/assets/css/style.css">
</head>
<body>
    <nav class="header">
        <h1 class="title"><span>Dara Kilicoglu</span></h1>
        <span><a href="mailto:dara.kilicoglu@gmail.com">Email</a>, <a href="https://www.instagram.com/darita">Instagram</a>, <a href="https://read.cv/darita">Résumé</a></span>
    </nav>
    
    <h2 class="hero">Product designer based in Copenhagen blending design and technology with joy.</h2>
  
    <div class="posts">
        <div class="row">
            <div class="post">
                <a href="/terra-scapes" class="card">
                    <div class="post-index">1.</div>
                    <img src="/assets/images/terra-scapes/terra-scapes-0.jpg" width="2400" height="1600" class="thumbnail">
                    <div class="post-title">Terra/Scapes — Field Recordings</div>
                </a>
            </div>

            <div class="post x-small">
                <a href="/coffee-flavor-tree" class="card">
                    <div class="post-index">2.</div>
                    <img src="/assets/images/coffee-flavor-tree/coffee-flavor-tree-0.png" width="1125" height="2001" class="thumbnail">
                    <div class="post-title">Coffee Flavor Tree</div>
                </a>
            </div>
        </div>
        
        <div class="row">
            <div class="post">
                <a href="/pace-design-system" class="card">
                    <div class="post-index">3.</div>
                    <img src="/assets/images/pace/pace-0.png" width="1396" height="632" class="thumbnail" />
                    <div class="post-title">Pace — Design System</div>
                </a>
            </div>
        </div>
        
        <div class="row">
            <div class="post small right">
                <a href="/bao" class="card">
                    <div class="post-index">4.</div>
                    <img src="/assets/images/bao/bao-0.png" width="1126" height="1501" class="thumbnail">
                    <div class="post-title">Bao II, B. 1977 — Drone Instrument</div>
                </a>
            </div>
        </div>
        
        <div class="row">
            <div class="post">
                <a href="/templo" class="card">
                    <div class="post-index">5.</div>
                    <img src="/assets/images/templo/templo-0.png" width="2400" height="1656" class="thumbnail">
                    <div class="post-title">Templo — Curated Template Gallery</div>
                </a>
            </div>
        </div>
        
        <div class="row">
            <div class="post right">
                <a href="/donkey-republic" class="card">
                  <div class="post-index">6.</div>
                  <img src="/assets/images/donkey-republic/donkey-republic-0.png" width="2560" height="1920" class="thumbnail">
                  <div class="post-title">Donkey Republic — Product Design</div>
                </a>
            </div>
        </div>
        
        <div class="row">
            <div class="post small">
                <a href="/neol-id" class="card">
                    <div class="post-index">7.</div>
                    <img src="/assets/images/neol/neol-id-0.png" width="1800" height="1200" class="thumbnail">
                    <div class="post-title">Neol ID — Design and Direction</div>
                </a>
            </div>
        </div>
    </div>
    
    {% include footer.html %}
    
    <script src="/assets/app.js"></script>
</body>
</html>
