<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dara Kilicoglu — Designer</title>
    <link rel="icon" type="image/png" href="/favicon.png">
    <link rel="preload" href="/assets/fonts/BricolageGrotesque/BricolageGrotesque-Regular.ttf" as="font" type="font/ttf">
    <link rel="stylesheet" href="/assets/css/style.css">
</head>
<body>
    <nav class="header">
        <h1 class="title"><span>Dara Kilicoglu</span></h1>
        <span><a href="mailto:dara.kilicoglu@gmail.com">Email</a>, <a href="https://www.instagram.com/darita">Instagram</a>, <a href="https://read.cv/darita">Résumé</a></span>
    </nav>
    
    <header class="intro">
        <h2 class="xl-text">I'm a product designer based in Copenhagen blending design and technology with joy.</h2>
    </header>
    
    <section class="posts">
        <div class="row">
            <div class="post">
                <a href="/terra-scapes" class="card">
                    <span class="post-index">1.</span>
                    <img src="/assets/images/terra-scapes/terra-scapes-0.jpg" width="2400" height="1600" class="thumbnail">
                    <span class="post-title serif lg-text">Terra/Scapes — Field Recordings</span>
                </a>
            </div>
            
            <div class="post x-small">
                <a href="/coffee-flavor-tree" class="card">
                    <span class="post-index">2.</span>
                    <img src="/assets/images/coffee-flavor-tree/coffee-flavor-tree-0.png" width="1125" height="2001" class="thumbnail">
                    <span class="post-title serif lg-text">Coffee Flavor Tree</span>
                </a>
            </div>
        </div>
        
        <div class="row">
            <div class="post">
                <a href="/pace-design-system" class="card">
                    <span class="post-index">3.</span>
                    <img src="/assets/images/pace/pace-0.webp" width="1400" height="600" class="thumbnail">
                    <span class="post-title serif lg-text">Pace — Design System</span>
                </a>
            </div>
        </div>
        
        <div class="row">
            <div class="post small right">
                <a href="/bao" class="card">
                    <span class="post-index">4.</span>
                    <img src="/assets/images/bao/bao-0.png" width="1126" height="1501" class="thumbnail">
                    <span class="post-title serif lg-text">Bao II, B. 1977 — Drone Instrument</span>
                </a>
            </div>
        </div>
        
        <div class="row">
            <div class="post">
                <a href="/templo" class="card">
                    <span class="post-index">5.</span>
                    <img src="/assets/images/templo/templo-0.png" width="2400" height="1656" class="thumbnail">
                    <span class="post-title serif lg-text">Templo — Curated Template Gallery</span>
                </a>
            </div>
        </div>
        
        <div class="row">
            <div class="post right">
                <a href="/donkey-republic" class="card">
                  <span class="post-index">6.</span>
                  <img src="/assets/images/donkey-republic/donkey-republic-0.png" width="2560" height="1920" class="thumbnail">
                  <span class="post-title serif lg-text">Donkey Republic — Product Design</span>
                </a>
            </div>
        </div>
        
        <div class="row">
            <div class="post small">
                <a href="/neol" class="card">
                    <span class="post-index">7.</span>
                    <img src="/assets/images/neol/neol-0.png" width="1800" height="1200" class="thumbnail">
                    <span class="post-title serif lg-text">Neol — Design and Direction</span>
                </a>
            </div>
        </div>
    </section>
    
    {% include footer.html %}
    
    <script src="/assets/app.js"></script>
</body>
</html>
