<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dara Kilicoglu — Designer</title>
    <link rel="icon" type="image/png" href="/favicon.png">
    <link rel="stylesheet" href="/assets/css/style.css">
</head>
<body>
    <nav class="header">
        <h1 class="title">Dara Kilicoglu</h1>
        <span><a href="mailto:dara.kilicoglu@gmail.com">Email</a>, <a href="https://www.instagram.com/darita">Instagram</a>, <a href="https://read.cv/darita">Résumé</a></span>
    </nav>
    
    <header class="intro">
        <h2 class="xl-text">I'm a product designer based in Copenhagen blending design and technology with joy.</h2>
    </header>
    
    <section class="posts">
        <div class="row">
            <div class="post">
                <a href="/terra-scapes" class="card">
                    <span class="post-index">1.</span>
                    <img src="/assets/images/terra-scapes/terra-scapes-0.jpg" class="thumbnail">
                    <span class="post-title serif lg-text">Terra/Scapes</span>
                </a>
            </div>
            
            <div class="post x-small">
                <a href="/coffee-flavor-tree" class="card">
                    <span class="post-index">2.</span>
                    <img src="/assets/images/coffee-flavor-tree/coffee-flavor-tree-cover.png" class="thumbnail">
                    <span class="post-title serif lg-text">Coffee Flavor Tree</span>
                </a>
            </div>
        </div>
        
        <div class="row">
            <div class="post">
                <a href="/pace-design-system" class="card">
                    <span class="post-index">3.</span>
                    <img src="/assets/images/pace-cover.webp" class="thumbnail">
                    <span class="post-title serif lg-text">Pace Design System for Veo Technologies</span>
                </a>
            </div>
        </div>
        
        <div class="row">
            <div class="post small right">
                <a href="/bao" class="card">
                    <span class="post-index">4.</span>
                    <img src="/assets/images/bao-cover.png" class="thumbnail">
                    <span class="post-title serif lg-text">Bao II, B. 1977</span>
                </a>
            </div>
        </div>
        
        <div class="row">
            <div class="post">
                <a href="/templo" class="card">
                    <span class="post-index">5.</span>
                    <img src="/assets/images/templo.png" class="thumbnail">
                    <span class="post-title serif lg-text">Templo — Curated Template Gallery</span>
                </a>
            </div>
        </div>
        
        <div class="row">
            <div class="post right">
                <a href="/donkey-republic" class="card">
                  <span class="post-index">6.</span>
                  <img src="/assets/images/donkey-republic/donkey-republic-1.png" class="thumbnail">
                  <span class="post-title serif lg-text">Donkey Republic — Product Design</span>
                </a>
            </div>
        </div>
        
        <div class="row">
            <div class="post small">
                <a href="/neol" class="card">
                    <span class="post-index">7.</span>
                    <img src="/assets/images/neol.png" class="thumbnail">
                    <span class="post-title serif lg-text">Neol — Design and Direction</span>
                </a>
            </div>
        </div>
    </section>
    
    <nav class="footer">
        © 2024 Dara Kilicoglu <a href="#" id="back-to-top">Back to top</a>
    </nav>

    <div id="loader-wrapper">
        <div class="lds-hourglass">
            <svg width="40" height="40" viewBox="0 0 126 126" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M88.5999 0.700012H36.7999L0.199951 37.3V89.1L36.7999 125.7H88.5999L125.2 89.1V37.4L88.5999 0.700012ZM62.7999 88.6C48.7999 88.6 37.4999 77.3 37.4999 63.3C37.4999 49.3 48.7999 38 62.7999 38C76.7999 38 88.0999 49.3 88.0999 63.3C88.0999 77.2 76.6999 88.6 62.7999 88.6Z" fill="#E0A0D5"/>
            </svg>    
        </div>
    </div>
    
    <script src="/assets/app.js"></script>
</body>
</html>
