<!DOCTYPE html>
<html lang="en" class="single">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dara Kilicoglu — Designer</title>
    <link rel="icon" type="image/png" href="/favicon.png">
    <link rel="preload" href="/assets/fonts/BricolageGrotesque/BricolageGrotesque-Regular.ttf" as="font" type="font/ttf">
    <link rel="stylesheet" href="/assets/css/style.css">
</head>
<body>
    <nav class="header">
        <h1 class="title"><span>{{ page.index }}.</span></h1>
        <a href="/">Index</a>
    </nav>
    
    <div class="post">
        <div class="description">
            <div class="lg-text serif">{{ page.title }}</div><br>
            {{ page.description }}
        </div>
        
        <div class="content">
            {{ content }}
        </div>
    </div>

    <div class="post-navigation">
        {% if page.next.url %}
        <div>
            Prev<br />
            <a class="next reversed md-text serif" href="{{page.next.url}}">{{page.next.title}}</a>
        </div>
        {% endif %}
        {% if page.previous.url %}
        <div>
            Next<br />
            <a class="prev reversed md-text serif" href="{{page.previous.url}}">{{page.previous.title}}</a>
        </div>
        {% endif %}
    </div>

    {% include footer.html %}

    <script src="/assets/app.js"></script>
</body>
</html>
